.winners {
  &__table {
    width: 100%;
    max-width: 900px;

    border: 1px solid black;

    &-title {
      display: flex;
      justify-content: center;
      align-items: center;

      border-right: 1px solid black;
      grid-area: title;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas:
      "title title title up"
      "title title title down";
  }

  &__up {
    grid-area: up;

    border-bottom: 1px solid black;

    &:hover {
      background-color: red;
      cursor: pointer;

      transition: 0.2s;
    }
  }

  &__down {
    grid-area: down;

    &:hover {
      background-color: red;
      cursor: pointer;

      transition: 0.2s;
    }
  }

  &__number {
    width: 8%;
  }

  &__car {
    min-width: 150px;
  }

  &__wins,
  &__time {
    width: 15%;
  }
}
